:root {
  --yellow-theme: #f7b714;
  --black-theme: #2d2f33;
}
html {
  height: 100%;
  background-color: whitesmoke;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
header {
  width: 90%;
  padding: 2.5%;
  margin: 0 2.5%;
}
header > .head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
header > .head > img {
  width: 30px;
  margin: auto 0;
}
header > .head > h2 {
  color: var(--yellow-theme);
  font-size: calc(1.5rem + 1vw);
  margin: 2.5% 0;
}
header > .head > h2 > span {
  color: #242124;
}
header > form {
  display: flex;
  width: 95%;
  margin: 2.5%;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}
header > form > input {
  width: 70%;
  padding: 3% 2.5%;
  border: transparent;
}
header > form > button {
  width: 30%;
  border: transparent;
  background-color: var(--yellow-theme);
  color: white;
}

.contents {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  flex: 1;
  overflow: scroll;
}
.contents > .path {
  width: 90%;
  padding: 0 5%;
}
.contents > .path > a {
  color: var(--black-theme);
  font-size: 14px;
}
.contents > .path > a:last-child {
  color: var(--yellow-theme);
}
/*course - introduction*/
.course-intro {
  width: 90%;
  margin: 5% auto;
  margin-top: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.course-intro > .course-preview {
  margin: 2.5% 0;
  width:100%;
  border-radius: 5px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.08);
  background-color: white;
  overflow: hidden;
}
.course-intro > .course-preview > video {
  width: 100%;
  height: 170px;
}
.course-intro > .course-preview > h5 {
  padding: 2.5%;
  margin: 1% 2.5%;
  font-size: calc(0.5vw + 0.5rem);
}
.course-intro > .course-preview > p {
  padding: 2.5%;
  margin: 1% 2.5%;
  white-space: wrap;
  word-break: keep-all;
  font-size: calc(0.7em + 0.5vw);
}

.course-intro > .course-detail {
  width: 90%;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin:auto 0;
  padding:2.5% 5%;
  background-color: white;
  overflow: hidden;
}
.course-intro > .course-detail > h4 {
  font-size: calc(1vw + 1rem);
  margin:2.5% 0;
}

.course-intro > .course-detail > ul {
  width: 70%;
  padding: 2.5% 0;
  margin-right: auto;
  white-space: nowrap;
}
.course-intro > .course-detail > ul > li {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  margin: 2.5% 0;
  grid-gap: 3px;
}
.course-intro > .course-detail > ul > li > span {
  font-size: 14px;
  width: fit-content;
}
.course-intro > .course-detail > ul > li > span:nth-child(2) {
  color: var(--yellow-theme);
}
.course-intro > .course-detail > span {
  display: block;
  font-weight: bold;
  font-size: calc(1rem + 1vw);
}

.course-intro > .course-detail > button {
  width: 100%;
  padding: 3% 2.5%;
  margin: 2.5% 0;
  background-color: var(--yellow-theme);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: transparent;
  color: white;
}
/*wyill lernr**/
.course-knowledge {
  width: 90%;
  margin: 5% 5%;
  padding: 2.5% 0;
}

/*globl style*/
section {
  margin-top: 5%;
  margin-bottom: 5%;
}
section > h3 {
  text-align: center;
  margin: 2.5%;
  color: var(--yellow-theme);
  font-size: calc(1em + 1vw);
}
section > h3 > span {
  color: #242124;
}
/*globl style*/

.course-knowledge > ul {
  display: grid;
  grid-template-columns: 100%;
  list-style: none;
  padding: 2.5%;
  margin: 0;
}
.course-knowledge > ul > li {
  width: 95%;
  padding: 4% 2.5%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
  background-color: white;
  margin: 1% 0;
  color: #242124;
  font-size:3.5vw;
}
.course-knowledge > ul > li > span:nth-child(1) {
  color: var(--yellow-theme);
  margin-right: 5px;
}
.course-knowledge > ul > li > span:nth-child(2) {
  white-space: pre-wrap;
}

/*course include*/
.course-include {
  width: 100%;
  margin: 5% 0;
}
.course-include > h5 {
  width: 90%;
  margin: 2.5% 5%;
}
.course-include > ul {
  text-align: center;
  list-style: none;
  width: 90%;
  background-color: var(--yellow-theme);
  padding: 2.5% 5%;
  margin: 0;
}
.course-include > ul > li {
  width: 95%;
  margin: 2.5%;
  color: white;
  font-size: 14px;
}

/*course module*/

/**/
.buy {
  display: flex;
  width: 95%;
  padding: 2.5%;
  justify-content: space-around;
  box-shadow: 0 -1px 2px 2px #eee;
}
.buy > span {
  width: 15%;
  font-weight: bold;
  margin: auto 0;
}
.buy > button {
  width: 80%;
  padding: 3% 2.5%;
  margin: 0;
  background-color: var(--yellow-theme);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: transparent;
  color: white;
}

/*footer*/
footer {
  text-align: center;
  width: 90%;
  padding: 2.5% 5%;
  background-color: var(--black-theme);
}
footer > .more {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer > .more > ul {
  width: 100%;
  list-style: none;
  color: #eee;
  padding: 0;
}
footer > .more > ul > li {
  font-size: 15px;
  margin: 2.5% 0;
  padding: 2% 0;
}

footer > ul {
  padding: 0;
}
footer > ul > li {
  display: inline-block;
  margin: 2.5%;
  font-size: 14px;
  color: grey;
}
footer > span {
  font-size: 12px;
  color: grey;
}

@media only screen and (min-width: 640px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header > form {
    width: 50%;
  }

  /*cpurse prebview*/
  .course-intro {
    width: 90%;
    margin: 2.5% auto;
    padding: 0;
  }
  .course-intro > .course-preview > video {
    height: auto;
  }
  .course-intro > .course-preview > h5 {
    padding: 1% 2.5%;
  }
  /*course knowlegde*/
  .course-knowledge > ul {
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
  }
  .course-knowledge > ul > li {
    padding: 3% 2.5%;
    font-size:14px;
    height: fit-content;
  }

  .buy {
    display: none;
  }
}
