:root {
  --yellow-theme: #f7b714;
  --black-theme: #2d2f33;
}
html {
  height: 100%;
  background-color: whitesmoke;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
header {
  width: 90%;
  padding: 2.5%;
  margin: 0 2.5%;
}
header > .head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
header > .head > img {
  width: 30px;
  margin: auto 0;
  margin-right:10px;
}
header > .head > h2 {
  color: var(--yellow-theme);
  font-size: calc(1.5rem + 1vw);
  margin: 2.5% 0;
}
header > .head > h2 > span {
  color: #242124;
}
header > form {
  display: flex;
  width:100%;
  margin: 2.5% 0;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}
header > form > input {
  width: 70%;
  padding: 3% 2.5%;
  border: transparent;
}
header > form > button {
  width: 20%;
  border: transparent;
  background-color: var(--yellow-theme);
  color: white;
  padding:2% 0;
}
header > form > button > img {
  width:20px;
  filter:invert(100%)
}

.contents {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  overflow: scroll;
}
.contents > .path {
  width: 90%;
  padding: 0 5%;
}
.contents > .path > a {
  color: var(--black-theme);
  font-size: 14px;
}
.contents > .path > a:last-child {
  color: var(--yellow-theme);
}
/*course - introduction*/
.course-intro {
  width: 90%;
  margin: 5% auto;
  margin-top: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.course-intro > .course-preview {
  margin: 2.5% 0;
  width:100%;
  overflow: hidden;
}
.course-intro > .course-preview > h2 {
  font-size: calc(1rem + 1vw);
  margin:0 2.5%;
}
.course-intro > .course-preview > video {
  width: 95%;
  margin:2.5%;
  height: 170px;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.08);
}
.course-intro > .course-preview > p {
  padding:2.5% ;
  margin:0;
  white-space: wrap;
  word-break: keep-all;
  font-size: calc(0.7em + 0.5vw);
  color:var(--yellow-theme)
}

.course-intro > .course-detail {
  width: 90%;
  box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin:auto 0;
  padding:2.5% 5%;
  background-color: white;
  overflow: hidden;
}
.course-intro > .course-detail > h4 {
  font-size: calc(1vw + 1rem);
  margin:2.5% 0;
}

.course-intro > .course-detail > ul {
  width: 70%;
  padding: 2.5% 0;
  margin-right: auto;
  white-space: nowrap;
}
.course-intro > .course-detail > ul > li {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  margin: 2.5% 0;
  grid-gap: 3px;
}
.course-intro > .course-detail > ul > li > span {
  font-size: 14px;
  width: fit-content;
}
.course-intro > .course-detail > ul > li > span:nth-child(2) {
  color: var(--yellow-theme);
}
.course-intro > .course-detail > div {
  display: block;
  font-weight: bold;
  font-size: calc(1rem + 1vw);
}
.course-intro > .course-detail > div > span:first-child{
    color:orangered;
    font-weight: lighter;
    text-decoration: line-through;
}
.course-intro > .course-detail > div > span:last-child{
    margin-left:3px;
}

.course-intro > .course-detail > button {
  width: 100%;
  padding: 3% 2.5%;
  margin: 2.5% 0;
  background-color: var(--yellow-theme);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: transparent;
  color: white;
}
/*wyill lernr**/
.course-knowledge {
  width: 90%;
  margin: 5% 5%;
  padding: 2.5% 0;
}

/*globl style*/
.contents > section {
  max-width:640px;
  margin:5% auto;
}
.contents > section > h3 {
  text-align: center;
  margin: 2.5%;
  color: var(--yellow-theme);
  font-size: calc(1em + 1vw);
}
.contents > section > h3 > span {
  color: var(--black-theme)
}
/*globl style*/

.course-knowledge > ul{
  display: grid;
  grid-template-columns: 100%;
  list-style: none;
  padding:2.5%;
  padding-bottom:0;
  margin:0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
  background-color: white;
}
.course-knowledge > .hidden-list {
  display:none;
}
.course-knowledge > .show-list {
  display:grid;
  padding:0 2.5%;
  padding-bottom:2.5%;
}

.course-knowledge > ul > li {
  width: 95%;
  padding: 4% 2.5%;
  margin: 1% 0;
  color: #242124;
  font-size:3.5vw;
}
.course-knowledge > ul > li > span:nth-child(1) {
  color: var(--yellow-theme);
  margin-right: 5px;
}
.course-knowledge > ul > li > span:nth-child(2) {
  white-space: pre-wrap;
}

.course-knowledge > button {
  display: block;
  width: fit-content;
  color:var(--yellow-theme);
  font-size:14px;
  border: transparent;
  background-color:transparent;
  margin:2.5% auto;
  outline-style: none;
}

/*course include*/
.course-include {
  width: 100%;
  margin:10% 0;
}
.course-include > h5 {
  width: 90%;
  margin: 2.5% 5%;
}
.course-include > ul {
  text-align: center;
  list-style: none;
  width: 90%;
  background-color: var(--yellow-theme);
  padding: 2.5% 5%;
  margin: 0;
}
.course-include > ul > li {
  width: 95%;
  margin: 2.5%;
  color: white;
  font-size: 14px;
}
/*course module*/
.course-module {
  width:100%;
  margin: 10% 0;
  padding:5% 0;
}
.course-module >  p {
  text-align: center;
  margin:1% 0;
  white-space: wrap;
  word-break: keep-all;
  font-size: calc(0.8em + 0.5vw);
  color:var(--yellow-theme)
}
.course-module > .modules {
  width:90%;
  margin:0 5%;
  overflow: hidden;
}
.course-module > .modules > .module {
  text-align: center;
  width:90%;
  padding:4.5%;
  margin:0 auto;
  background-color:#eee;
  color: var(--black-theme);
  border:0.5px solid var(--yellow-theme);
}
.course-module > .modules > .module:nth-child(odd) {
  background-color: var(--yellow-theme);
  color: white;
  border: none;
}
.course-module > .modules > .module > span {
  display:block;
  font-size:14px;
}

/*fcult members*/
.faculty-member {
  width:100%;
  padding:5% 0;
}
.faculty-member > .members {
  width: 90%;
  margin:0 5%;
  border:1px solid var(--yellow-theme);
}
.faculty-member > .members > .member {
  display: flex;
  width:90%;
  margin:5%;
  color:var(--yellow-theme);
  background-color: var(--black-theme);
}
.faculty-member > .members > .member:nth-child(odd){
  flex-direction: row-reverse;
}
.faculty-member > .members > .member > img {
   width:30%;
}
.faculty-member > .members > .member > div{
  width: 70%;
  padding:3% 2.5%;
  margin:auto 0;
}
.faculty-member > .members > .member > div > span {
  margin:5% 0;
  font-weight: bold;
}
.faculty-member > .members > .member > div > p {
  font-size:11px;
  margin:2.5% 0;
  color: white;
}

/*feedbkcs*/
.course-feedback {
  width: 100%;
  padding: 5% 0;
}
.course-feedback > .feedbacks {
  width: 90%;
  margin:0 5%;
  color:var(--dark-theme);
}
.course-feedback > .feedbacks > .feedback {
  width:90%;
  padding:5%;
  background-color:white;
}
.course-feedback > .feedbacks > .feedback:nth-child(odd) {
background-color: #eee;
}
.course-feedback > .feedbacks > .feedback > .name {
  font-weight: bold;
  font-size:min(1rem , 1vw);
}
.course-feedback > .feedbacks > .feedback > .time {
  font-size:min(0.4rem , 1vw);
  color:grey;
}
.course-feedback > .feedbacks > .feedback > .rating {
  display: flex;
  margin:2.5% 0;
}
.course-feedback > .feedbacks > .feedback > .rating > img {
  width:18px;
}
 /**/
.buy {
  display: flex;
  width: 95%;
  padding: 2.5%;
  justify-content: space-around;
  box-shadow: 0 -1px 2px 2px #eee;
}
.buy > span {
  width: 15%;
  font-weight: bold;
  margin: auto 0;
}
.buy > button {
  width: 80%;
  padding: 3% 2.5%;
  margin: 0;
  background-color: var(--yellow-theme);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  border: transparent;
  color: white;
}

/*footer*/
footer {
  text-align: center;
  width: 90%;
  padding: 2.5% 5%;
  background-color: var(--black-theme);
}
footer > .more {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer > .more > ul {
  width: 100%;
  list-style: none;
  color: #eee;
  padding: 0;
}
footer > .more > ul > li {
  font-size: 15px;
  margin: 2.5% 0;
  padding: 2% 0;
}

footer > ul {
  padding: 0;
}
footer > ul > li {
  display: inline-block;
  margin: 2.5%;
  font-size: 14px;
  color: grey;
}
footer > span {
  font-size: 12px;
  color: grey;
}

@media only screen and (min-width: 640px) {
  header {
    display: flex;
    justify-content: space-between;
  }

  header > form {
    width:50%;
  }
  header > form > input {
    width:80%;
    padding: 3% 2.5%;
    border: transparent;
  }
  header > form > button {
    width:20%;
    border: transparent;
    background-color: var(--yellow-theme);
    color: white;
    padding:2% 0;
  }
  
  .contents > section {
    padding:1% 0;
  }
  /*cpurse prebview*/
  .course-intro {
    width: 90%;
    margin: 2.5% auto;
    padding: 0;
  }
  .course-intro > .course-preview > video {
    height: auto;
  }
  .course-intro > .course-preview > h5 {
    padding: 1% 2.5%;
  }
  /*course knowlegde*/
  .course-knowledge > ul {
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
  }
  .course-knowledge > ul > li {
    padding: 3% 2.5%;
    font-size:14px;
    height: fit-content;
  }

  /*modules*/
  .course-module > .modules {
     display: grid;
     grid-template-columns:50% 50%;
  }

  /*MEMBERWS*/
  .faculty-member > .members {
    display: flex;
    flex-wrap: wrap;
  }
  .faculty-member > .members > .member {
    width:45%;
    margin:2.5%;
  }

  footer > ul {
    margin:0;
  }
  .buy {
    display: none;
  }
}
